

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e4e4;
}

.wrapper-content {
    display: flex;
    /*justify-content: space-between;*/
    width: 1200px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.wrapper-inputsWithButtons {
    width: 270px;
    background-color: white;
    margin-left: 135px;
    /*display: none;*/

}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}


.buttonCreate {
    margin-left: 896px;
}



.table-data {
    width: 856px;
}



strong {
    font-size: 11px;
    margin-bottom: 13px;
}



span {
    font-size: 10px;
    margin: 0 0 -5px 0;
}





